<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="message-box">
        <h2>Chat Room: </h2>
        <div class="messages" id="messages"></div>
        <div class="inputs">
            <input type="text" rows="3" placeholder="Message" name="message" id="message" />
            <button type="button" name="send" id="send-btn" onClick="sendMessage()">
                Send
            </button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/chat_room.js') }}"></script>
</body>
</html>